@import '../css/global.css';
.boxRight{
    background-color: #FBFBFB;
    border-radius: 20px;
    padding: 12px 20px 12px 20px;
    margin-right: 10px;
     margin-left: 13px;
     margin-top: 18px;
}
.boxRight-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    margin-top: 18px;
}
.boxRight-title-d{
    font-family: 'Shabnam';
    font-size: 18px;
    font-weight: 400;
    color: #3D5252;
}

.boxRight-title-di{
    color: #009688;

     font-family: 'Yekan';
    font-size: 18px;
    font-weight: 400;

}

.boxLeft{
     background-color: #FBFBFB;
    border-radius: 20px;
    padding: 12px 20px 12px 20px;
    margin-right: 10px;
     margin-left: 13px;
     margin-top: 18px;
}