
*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Yekan';
  src: url('../font/Yekan.ttf') format('truetype');
 
 
}
.mianbox {
  padding: 16px 0px 16px 0px ; 
}

/* @media (max-width: 1200px) {
  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 2);
  }
} */